footer.footer
    .wrapper
        .footer__content
            .footer__logo
                svg
                    use(x="0" y="0" xlink:href="./images/sprite/sprite.svg#logo")
            .footer__share
                a(href="#").footer__shareItem
                    img(src="./images/link.svg", alt="")
                a(href="#").footer__shareItem
                    img(src="./images/fb.svg", alt="")
                a(href="#").footer__shareItem
                    img(src="./images/inst.svg", alt="")
                a(href="#").footer__shareItem
                    img(src="./images/tw.svg", alt="")

            .footer__links
                a(href="#") Privacy Statement
                a(href="#") Cookie policy
                        
                    