header.header
    .wrapper
        .header__content
            .header__left
                a(href="/").header__logo
                    img(src="./images/logo.svg", alt="") 

            .header__right
                .header__burger.burger
                        img(src="./images/burger.svg", alt="")
                .header__menu.adaptmenu
                    .header__close.close
                        img(src="./images/cancel.svg", alt="")
                    .header__contentMenu
                        .header__item
                            a(href="#mission") Mission              
                        .header__item
                            a(href="#about").menu_item About   
                        .header__item
                            a(href="#products") Our products
                
                

                
            

            //- .adaptmenu
            //-         .adaptmen__close.close
            //-             img(src="./images/cancel.svg", alt="")
            //-         .adaptmenu__content
                       
            //-             .adaptmenu__item
            //-                 a(href="#") Modules  
            //-             .adaptmenu__item
            //-                 a(href="#") Company  
            //-             .adaptmenu__item
            //-                 a(href="#") About us
            //-             .adaptmenu__item
            //-                 a(href="#") Career
            //-             .adaptmenu__item
            //-                 a(href="#") Legal 
            //-             .adaptmenu__item
            //-                 a(href="#")  Contact us 
