.sect2{
	background-color: $brand_color;
	background-image: url(../images/pattern_bg.svg);
	padding: rem(120) 0;

	.wrapper{
        width: rem(780);
    }

	&__title{
		margin-bottom: rem(30);
	}

	&__text{
		p{
			color: $white;
			font-size: rem(20);
			margin-bottom: rem(30);
			line-height: 1.58;
			&:last-child{
				margin: 0;
			}
		}
	}
}


@media screen and (max-width:500px){
	.sect2{
		padding: 50px 0;

		&__title{
			margin-bottom: 15px;
		}

		&__text{
			p{
				font-size: 16px;
				line-height: 1.75;
				&:last-child{
					margin: 0;
				}
			}
		}
	}
}