.sect3{
	padding: rem(120) 0 0 0;

	&__top{
		.wrapper{
			width: rem(780);
		}
	}

	&__title{
		margin-bottom: rem(30);
	}

	&__text{
		p{
			color: $maintext;
			font-size: rem(20);
			line-height: 1.58;
		}
	}
}


.productItem{
	padding: rem(80) 0;

	.wrapper{
		width: rem(980);
	}

	&__content{
		display: flex;
		justify-content: space-between;
	}

	&__left{
		display: flex;
    	align-items: center;
		img{
			width: rem(360);
			height: rem(360);
		}
	}

	&__right{
		width: rem(460);
		display: flex;
		flex-direction: column;
    	justify-content: center;
	}

	&__logo{
		margin-bottom: rem(30);
		img{
			width: rem(100);
			height: rem(100);
		}

		&_2{
			position: relative;
			img{
				width: rem(124);
				height: rem(55);
			}
		}

		&_3{
			img{
				width: rem(116);
				height: rem(70);
			}
		}
	}

	&__text{
		margin-bottom: rem(15);
		p{
			color: $maintext;
			font-size: rem(20);
			line-height: 1.58;
		}
	}

	&__list{
		margin-bottom: rem(30);
		ul{
			list-style: none;
			position: relative;
			li{
				font-size: rem(16);
				line-height: 1.63;
				padding-left: rem(28);
				&::before{
					content: "\2022";
					color: $maintext;
					position: absolute;
					left: 0;
				}
			}
		}
	}
}


hr{
	opacity: .4;
}


.productItem__logo_2::before{
	content: "(Oude logo)";
	position: absolute;
	transform: rotate(20deg);
	font-size: rem(26);
	left: rem(184);
	top: rem(15);
}


.productItem__logo_2::after{
	content: "";
	background-image: url(../images/ar.jpg);
	background-size: cover;
	width: rem(60);
	height: rem(60);
	position: absolute;
	transform: rotate(180deg);
	font-size: rem(20);
	left: rem(140);
	top: rem(20);
}


@media screen and (max-width:769px){
	.productItem{
	
		&__content{
			flex-direction: column;
		}

		&__left{
			padding-bottom: 50px;
		}

		&__right{
			width: 100%;
		}
	}
}


@media screen and (max-width:500px){
	.sect3{
		padding: 80px 0 0 0;

		&__title{
			margin-bottom: 15px;
		}

		&__text{
			p{
				font-size: 16px;
				line-height: 1.75;
			}
		}
	}

	.productItem{
		padding: 50px 0;
		&__content{
			flex-direction: column;
		}

		&__left{
			padding-bottom: 50px;
			img{
				width: 100%;
				height: auto;
			}
		}

		&__right{
			width: 100%;
		}

		&__text{
			p{
				font-size: 16px;
				line-height: 1.75;
			}
		}

		&__list{
			ul{
				li{
					font-size: 14px;
  					line-height: 1.57;
				}
			}
		}
	}

	.productItem__logo_2::before{
		font-size: 20px;
		line-height: 1.5;
	}
}